* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;

}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: auto;

}

.header__nav {
    padding: 50px 0;

}

.header__nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__nav a {
    color: #323232;
    font-size: 18px;

}

.header__nav-list {
    display: flex;
    gap: 42px;

}

.header__nav-list a {
    font-size: 14px;
    font-weight: 400;

}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.card {

    font-size: 10px;
    background-color: #E1E1E1;
    box-shadow: 6px 6px 15px 0 rgba(132, 132, 132, 0.3);
    text-align: center;
    border-radius: 10px;


}

.main .container {
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 294px);
    gap: 20px;
}



.card:nth-of-type(1) {
    grid-column: span 5;
    place-content: center;
}

.card:nth-of-type(2) {
    grid-column: span 7;
    grid-row: span 2;
    place-content: center;
}

.card:nth-of-type(3) {
    grid-column: span 5;
    place-content: center;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 73px;
}

.names h1 {
    font-size: 16px;
    color: #323232;
    font-weight: 400;

}

.names p {
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.card-sale {
    position: relative
}

.card-sale span {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 22px;
    padding: 11px 39.5px;
    background-color: #323232cb;
    color: white;
    border-radius: 10px;
    font-family: system-ui;
    margin: 10px 10px;
}

.cards {

    font-size: 10px;
    background-color: #E1E1E1;
    box-shadow: 6px 6px 15px 0 rgba(132, 132, 132, 0.3);
    text-align: center;
    border-radius: 10px;
    
}

.main_work .container {

    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 300px);
    gap: 20px;
}

.cards:nth-of-type(1) {
    grid-column: span 4;
    place-content: center;
}

.cards:nth-of-type(2) {
    grid-column: span 4;
    place-content: center;
}

.cards:nth-of-type(3) {
    grid-column: span 4;
    place-content: center;

}

.cards:nth-of-type(4) {
    grid-column: span 4;
    place-content: center;
    grid-row: span 1;
}

.cards:nth-of-type(5) {
    grid-column: span 4;
    place-content: center;
    grid-row: span 1;
}

.cards:nth-of-type(6) {
    grid-column: span 4;
    place-content: center;
    grid-row: span 1;
}

.cards:nth-of-type(7) {
    grid-column: span 4;
    place-content: center;
}

.cards:nth-of-type(8) {
    grid-column: span 4;
    place-content: center;
}

.cards:nth-of-type(9) {
    grid-column: span 4;
    place-content: center;
}

.cards:nth-of-type(10) {
    grid-column: span 4;
    place-content: center;
    grid-row: span 1;
}

.cards:nth-of-type(11) {
    grid-column: span 4;
    place-content: center;
    grid-row: span 1;
}

.cards:nth-of-type(12) {
    grid-column: span 4;
    place-content: center;
    grid-row: span 1;
}

.cards:nth-of-type(13) {
    grid-column: span 4;
    place-content: center;

}

.cards:nth-of-type(14) {
    grid-column: span 4;
    place-content: center;

}

.cards:nth-of-type(15) {
    grid-column: span 4;
    place-content: center;

}

.smth{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    

}
.top{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
    align-items: center;
}
.smth h1 {
    font-size: 16px;
    color: #323232;
    font-weight: 400;

}

.smth p {
    padding: 6px;
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.paragraph p{
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    font-size:30px ;
   
    
}